
table td {
    border: 1px solid #000000;
    padding: 8px 0px;
    margin-top: 8px;
    
}


table th {
    border: 1px solid black;
    font-family: 'creepster', cursive;
    font-size: 3em;
}

table {
    text-align: center;
    width: 100%;
    
}
table caption {
    font-size: 3em;
    padding: 50px;
}
form p {
    display: block;
    margin-top: 15px;
}
form input[type="submit"] {
    display: block;
    margin-top: 10px;
}



table tr:nth-last-child(2) td:nth-child(2) {
    background-color: rgb(201, 21, 114);
    font-weight: bold;

}
video {
    box-shadow: 4px 4px 8px;
    padding: 8px 4px;
}